<header class="absolute inset-x-0 top-0 z-50"
        [ngClass]="{ 'bg-gray-900': bgGray }">
  <nav class="flex items-center justify-between p-6 lg:px-8 bg-gray-800"
       aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#"
         class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img src="./assets/shared/images/logo_white.png"
             class="cursor-pointer h-12 w-auto">
      </a>
    </div>
    <div class="flex lg:hidden"
         (click)="showMenu = true">
      <button type="button"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             aria-hidden="true">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <!-- <a [routerLink]="['/features']"
         class="text-sm font-semibold leading-6 text-white">Features</a> -->
      <a [routerLink]="['/marketplace']"
         class="text-sm font-semibold leading-6 text-white">Marketplace</a>

      <a [routerLink]="['/community']"
         class="text-sm font-semibold leading-6 text-white">Community</a>

      <a [routerLink]="['/about-us']"
         class="text-sm font-semibold leading-6 text-white">About Us</a>
      <a [routerLink]="['/release-note']"
         class="text-sm font-semibold leading-6 text-white">Release Note</a>

    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <div>
        <a [routerLink]="['/auth/login']"
           routerLinkActive="router-link-active"
           class="text-sm font-semibold leading-6 text-white">Log in <span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden"
       role="dialog"
       aria-modal="true"
       *ngIf="showMenu"
       (click)="showMenu = false">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
    <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10">
      <div class="flex items-center justify-between">
        <a href="#"
           class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img src="/assets/images/logo_dark.png"
               class="cursor-pointer h-12 w-auto">
        </a>
        <button type="button"
                class="-m-2.5 rounded-md p-2.5 text-gray-400">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               aria-hidden="true">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/25">
          <div class="space-y-2 py-6">
            <a routerLink="features"
               class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:bg-gray-800">Features</a>
            <a routerLink="marketplace"
               class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:bg-gray-800">Marketplace</a>
            <a routerLink="community"
               class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:bg-gray-800">Community</a>

            <a routerLink="about-us"
               class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:bg-gray-800">About Us</a>
            <a routerLink="release-note"
               class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:bg-gray-800">Release Note</a>
          </div>
          <div class="py-6">
            <a routerLink="auth"
               class="-mx-3 block rounded-lg py-2.5 px-3 text-base font-semibold leading-7 text-white hover:bg-gray-800">Log in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
